spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200,http://localhost:4201"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
